body {
    background-color: rgb(237, 255, 211);
}

img.flower {
    width: 60px;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

table td {
    padding: 5px;
}

#command-form {
    background-color: rgb(118, 232, 255);
    border: 3px solid black;
    border-radius: 3px;
    max-width: fit-content;
    margin: 10px;
}

#command-form td {
    
}

table th {
    background-color: #54585d;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #54585d;
}

table#flower-table td {
    border: 1px solid #dddfe1;
    text-align: center;
}

table#flower-table tr {
    /* This is also the final color of the green pulse animation. */
    background-color: #eee;
}


span#all {
    text-decoration: underline;
}

button#send-command {
    margin: 10px;
}

#mqtt-status {
    font-family: 'Courier New', Courier, monospace;
}