<!DOCTYPE html>
<html>
<head>
    <title>Real-time Object Detection</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
</head>
<body>
<h1>Real-time Object Detection</h1>
<img id="hud-image" src="" alt="HUD Image" width="640" height="480">
<script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('hud_update', function(data) {
        var img = document.getElementById('hud-image');
        img.src = 'data:image/jpeg;base64,' + data;
    });
</script>
</body>
</html>
