# FCC
Flask==2.3.2
paho-mqtt

# viz system
# holding off on installation, these take a long time
#  to build ond the rpi and aren't necessary at this time.
# opencv-python
# numpy

# CDC
pyyaml
openpyxl

# State
psutil
requests
ntplib

# pytools
ipython
